.vbox, .hbox{
  display : flex;
  justify-content: flex-start; 
  overflow:hidden;
}

.vbox{
  flex-direction: column;
  height:100%;
}

.vbox > *{
  min-height: auto;
  height:100%;
}

.hbox{
  flex-direction: row;
  width:100%;
}

.hbox > *{
  min-width: auto;
  width:100%;
}

.line{
  text-align: center;
  line-height: 1.5em;
  min-height: 1.5em;
  height: 1.5em;
  font-size: 2em;
}

.black{
  color: white;
  background-color: black;
}

.gray{
  background-color: lightgray;
}

button{
  font-size: 1em;
}

html{
  height:100%;
}

body{
  margin: 0;
}

header.line{
  font-size: 3em;
}

footer.line{
  font-size: .75em;
}

#datepic{
  font-size: 2em;
}
#datepic > button{
  width: 4em;
}
.datetext span{
  display: none;
}

#success > .hbox{
  flex: 1;
}

#success .hbox.head{
  flex: 0;
  min-height: 1.5em;
  height: 1em;
  text-align: center;
  cursor: default;
}

#success .day{
  flex: 1;
  border: 0.1em solid black;
  cursor: pointer;
  word-break: break-all;
}

#success .empty{
  flex: 1;
  margin: 0.1em;
  cursor: default;
}

#success .hbox.head > div{
  cursor: default;
}

#success div.big{
  flex: 1.5;
  font-size: 1.5em;
}

#buttons{
  font-size: 2em;
}

#buttons .inc{
  flex: 2;
}

#buttons .dec{
  flex: 1;
}

@media (max-width: 600px) {
  #datepic{
    height: 4em;
  }
  .datetext span{
    display: inline;
  }
  .mounth-inc{display:none}
  .mounth-dec{display:none}
  
  #success div{
    display:none;
  }
  #success span{
    display:none;
  }
  #success div.active{
    display:block;
  }
  #success div.big{
    display:block;
    font-size: 3em;
    
  }
  #success .hbox.active{
    display:flex;
  }
}